#wrap  
  = render 'navigation4.html.haml'

  %div.masthead
    -#.jumbotron
    .container    
      %div#nivoslider-container.theme-default
        %div#slider.nivoSlider
          = image_tag("leadu-dan-mulhern75.jpg", :title=>"#dancaption")
          = image_tag("wifm75.jpg", :title=>"#wifmcaption")
          = image_tag("mbti75.jpg", :title=>"#mbinfocaption")
      :javascript
        $(window).load(function() {
            $('#slider').nivoSlider();
        });

      #dancaption.nivo-html-caption.theme-default.nivo-caption
        %a{:href=>about_path} About LeadU and it's founder Dan Mulhern
      #wifmcaption.nivo-html-caption.theme-default.nivo-caption
        %a{:href=>wifm_path} What you stand to gain
      #mbinfocaption.nivo-html-caption.theme-defaults.nivo-caption
        %a{:href=>mbinfo_path} Learn More about the Myers Briggs

      %div#login-form
        %center
          %h2 Sign in to LeadU
          .wrapper-form
            .wrapper-facebook
              %a.zocial.facebook{:href => "/auth/facebook/"} 
                Sign in with 
                %strong Facebook
            %h4 OR
            %form#login-form{:method=>"post", :class=>"form-stacked form-signup"}
              %fieldset
                .wrapper-input.input
                  %input{:class=>"xlarge", :type=>"text", :id=>"user", :name=>"user", :value=>"", :placeholder=>"Email or Username"}
                .wrapper-input.input
                  %input{:class=>"xlarge", :type=>"password", :id=>"pass", :name=>"pass", :maxlength=>"16", :placeholder=>"Password"}
                %a{:tabindex=>"-1", :href=>"/reset-password"} Forgot your password?
                %label
                  %input{:name=>"remember", :value=>"1", :type=>"checkbox", :id=>"remember", :maxlength=>"16", :checked=>"checked"}
                  %span Remember me
                %button.btn.btn-primary{:type=>"submit"} Sign In    

#push

= render "footer.html.haml"
