#wrap  
  = render 'navigation3.html.haml'

  .jumbotron.masthead
    .container   
      .slider-wrapper.theme-default
        %div#slider.nivoSlider
          -#%img{:alt => "", "data-thumb" => "images/leadu-barack-obama.jpg", :src => #{image_tag("leadu-barack-obama.jpg")}}
          = link_to(image_tag("leadu-dan-mulhern75.jpg", :title=>"#dancaption"), about_path)
          = link_to(image_tag("wifm75.jpg", :title=>"#wifmcaption"), wifm_path)
          = link_to(image_tag("mbti75.jpg", :title=>"#mbinfocaption"), mbinfo_path)
      :javascript
        $(window).load(function() {
            $('#slider').nivoSlider();
        });

      #dancaption.nivo-html-caption
        %a{:href=>about_path} About LeadU and it's founder Dan Mulhern
      #wifmcaption.nivo-html-caption
        %a{:href=>wifm_path} What you stand to gain
      #mbinfocaption.nivo-html-caption
        %a{:href=>mbinfo_path} Learn More about the Myers Briggs

      %center
        %p Leadership Prescriptions for Tomorrow's Leaders
      %center
        %p
          %a.btn.btn-primary.btn-large{:href => "login"} Log In
          %a.btn.btn-primary.btn-large{:href => "signup"} Sign Up
          %a{:class => "zocial facebook", :href => "/auth/facebook/"} Sign In 

  .container
    .marketing
      %h1 LeadU Features
      .row-fluid
        .span4
          %h2 Built In Testing
          %p{:style=>'text-align: center'} We provide the survey for students to learn their personality type, and automatically calculate their prescriptions.
        .span4
          %h2 Free
          %p{:style=>'text-align: center'} This service is offered free to all students.      
        .span4
          %h2 Advice from the Best
          %p{:style=>'text-align: center'} All recommendations stem from Dan Mulhern, Professor at the Haas School of Business at UC Berkeley. 

#push

= render "footer.html.haml"
