= render("static_pages/navigation.html.haml")
.container 
  - flash.each do |key,value|
    %div{:class => 'alert alert-#{key}'}= value  
  .marketing
    %h2{:style=>'text-align: center'} Let's learn more about your personality
    %br
    %center
      <b>If you already know your type:</b>
      = form_for :input do |f|
        = text_field :type, 'type'
        %input.button{:name => "commit", :type => "submit", :value => "Submit"}/
    %br
    %h4 To get your four character personality "type", we need you to answer the following questions:

    = form_for :input do |f|

      1. At a party do you:
      %br
      = f.radio_button 'EI-1', '1'
      interact with many, including strangers
      %br
      = f.radio_button 'EI-1', '-1'
      interact with a few, known to you
      %br

      2. Are you more:
      %br
      = f.radio_button 'SN-1', '1'
      realistic
      %br
      = f.radio_button 'SN-1', '-1'
      philosophically inclined
      %br

      3. Are you more intrigued by
      %br
      = f.radio_button 'SN-2', '1'
      facts
      %br
      = f.radio_button 'SN-2', '-1'
      similes
      %br

      4. Are you usually more:
      %br
      = f.radio_button 'TF-1', '1'
      fair minded
      %br
      = f.radio_button 'TF-1', '-1'
      kind hearted
      %br

      5. Do you tend to be more:
      %br
      = f.radio_button 'TF-2', '1'
      dispassionate
      %br
      = f.radio_button 'TF-2', '-1'
      sympathetic
      %br

      6. Do you prefer to work:
      %br
      = f.radio_button 'JP-1', '1'
      to deadlines
      %br
      = f.radio_button 'JP-1', '-1'
      just "whenever"
      %br

      7. Do you tend to choose:
      %br
      = f.radio_button 'JP-2', '1'
      rather carefully
      %br
      = f.radio_button 'JP-2', '-1'
      somewhat impulsively
      %br

      8. At parties do you:
      %br
      = f.radio_button 'EI-2', '1'
      stay late, with increasing energy
      %br
      = f.radio_button 'EI-2', '-1'
      leave early, with decreased energy
      %br

      9. Are you more:
      %br
      = f.radio_button 'SN-3', '1'
      sensible person
      %br
      = f.radio_button 'SN-3', '-1'
      reflective person
      %br

      10. Are you more drawn to:
      %br
      = f.radio_button 'SN-4', '1'
      hard data
      %br
      = f.radio_button 'SN-4', '-1'
      abstruse ideas
      %br

      11. Is it more natural for you to be:
      %br
      = f.radio_button 'TF-3', '1'
      fair to others
      %br
      = f.radio_button 'TF-3', '-1'
      nice to others
      %br

      12. In first approaching others are you more:
      %br
      = f.radio_button 'TF-4', '1'
      impersonal and detached
      %br
      = f.radio_button 'TF-4', '-1'
      personal and engaging
      %br

      13. Are you usually more:
      %br
      = f.radio_button 'JP-3', '1'
      punctual
      %br
      = f.radio_button 'JP-3', '-1'
      leisurely
      %br

      14. Does it bother you more having things:
      %br
      = f.radio_button 'JP-4', '1'
      incomplete
      %br
      = f.radio_button 'JP-4', '-1'
      completed
      %br

      15. In your social groups do you:
      %br
      = f.radio_button 'EI-3', '1'
      keep abreast of others' happenings
      %br
      = f.radio_button 'EI-3', '-1'
      get behind on the news
      %br

      16. Are you usually more interested in:
      %br
      = f.radio_button 'SN-5', '1'
      specifics
      %br
      = f.radio_button 'SN-5', '-1'
      concepts
      %br

      17. Do you prefer writers who:
      %br
      = f.radio_button 'SN-6', '1'
      say what they mean
      %br
      = f.radio_button 'SN-6', '-1'
      use lots of analogies
      %br

      18. Are you more naturally:
      %br
      = f.radio_button 'TF-5', '1'
      impartial
      %br
      = f.radio_button 'TF-5', '-1'
      compassionate
      %br

      19. In judging are you more likely to be:
      %br
      = f.radio_button 'TF-6', '1'
      impersonal
      %br
      = f.radio_button 'TF-6', '-1'
      sentimental
      %br

      20. Do you usually:
      %br
      = f.radio_button 'JP-5', '1'
      settle things
      %br
      = f.radio_button 'JP-5', '-1'
      keep options open
      %br

      21. Are you usually rather:
      %br
      = f.radio_button 'JP-6', '1'
      quick to agree to a time
      %br
      = f.radio_button 'JP-6', '-1'
      reluctant to agree to a time
      %br

      22. In phoning do you:
      %br
      = f.radio_button 'EI-4', '1'
      just start talking
      %br
      = f.radio_button 'EI-4', '-1'
      rehearse what you'll say
      %br

      23. Facts:
      %br
      = f.radio_button 'SN-7', '1'
      speak for themselves
      %br
      = f.radio_button 'SN-7', '-1'
      usually require interpretation
      %br

      24. Do you prefer to work with:
      %br
      = f.radio_button 'SN-8', '1'
      practical information
      %br
      = f.radio_button 'SN-8', '-1'
      abstract ideas
      %br

      25. Are you inclined to be more:
      %br
      = f.radio_button 'TF-7', '1'
      cool headed
      %br
      = f.radio_button 'TF-7', '-1'
      warm hearted
      %br

      26. Would you rather be:
      %br
      = f.radio_button 'TF-8', '1'
      more just than merciful
      %br
      = f.radio_button 'TF-8', '-1'
      more merciful than just
      %br

      27. Are you more comfortable:
      %br
      = f.radio_button 'JP-7', '1'
      setting a schedule
      %br
      = f.radio_button 'JP-7', '-1'
      putting things off
      %br

      28. Are youmore comfortable with:
      %br
      = f.radio_button 'JP-8', '1'
      written agreements
      %br
      = f.radio_button 'JP-8', '-1'
      handshake agreements
      %br

      29. In company do you:
      %br
      = f.radio_button 'EI-5', '1'
      start conversations
      %br
      = f.radio_button 'EI-5', '-1'
      wait to be approached
      %br

      30. Traditionally common sense is:
      %br
      = f.radio_button 'SN-9', '1'
      usually trustworthy
      %br
      = f.radio_button 'SN-9', '-1'
      often misleading
      %br

      31. Children often do not:
      %br
      = f.radio_button 'SN-10', '1'
      make themselves useful enough
      %br
      = f.radio_button 'SN-10', '-1'
      daydream enough
      %br

      32. Are you usually more:
      %br
      = f.radio_button 'TF-9', '1'
      tough minded
      %br
      = f.radio_button 'TF-9', '-1'
      tender hearted
      %br

      33. Are you more:
      %br
      = f.radio_button 'TF-10', '1'
      firm than gentle
      %br
      = f.radio_button 'TF-10', '-1'
      gentle than firm
      %br

      34. Are you more prone to keep things:
      %br
      = f.radio_button 'JP-9', '1'
      well organized
      %br
      = f.radio_button 'JP-9', '-1'
      open-ended
      %br

      35. Do you put more value on the:
      %br
      = f.radio_button 'JP-10', '1'
      definite
      %br
      = f.radio_button 'JP-10', '-1'
      variable
      %br

      36. Does new interaction with others:
      %br
      = f.radio_button 'EI-6', '1'
      stimulate and energize you
      %br
      = f.radio_button 'EI-6', '-1'
      tax your reserves
      %br

      37. Are you more frequently:
      %br
      = f.radio_button 'SN-11', '1'
      a practical sort of person
      %br
      = f.radio_button 'SN-11', '-1'
      an abstract sort of person
      %br

      38. Which are you drawn to:
      %br
      = f.radio_button 'SN-12', '1'
      accurate perception
      %br
      = f.radio_button 'SN-12', '-1'
      concept formation
      %br

      39. Which is more satisfying:
      %br
      = f.radio_button 'TF-11', '1'
      to discuss an issue thoroughly
      %br
      = f.radio_button 'TF-11', '-1'
      to arrive at agreement on an issue
      %br

      40. Which rules you more:
      %br
      = f.radio_button 'TF-12', '1'
      your head
      %br
      = f.radio_button 'TF-12', '-1'
      your heart
      %br

      41. Are you more comfortable with work:
      %br
      = f.radio_button 'JP-11', '1'
      contracted
      %br
      = f.radio_button 'JP-11', '-1'
      done on a casual basis
      %br

      42. Do you prefer things to be:
      %br
      = f.radio_button 'JP-12', '1'
      neat and orderly
      %br
      = f.radio_button 'JP-12', '-1'
      optional
      %br

      43. Do you prefer:
      %br
      = f.radio_button 'EI-7', '1'
      many friends with brief contact
      %br
      = f.radio_button 'EI-7', '-1'
      a few friends with longer contact
      %br

      44. Are you more drawn to:
      %br
      = f.radio_button 'SN-13', '1'
      substantial information
      %br
      = f.radio_button 'SN-13', '-1'
      credible assumptions
      %br

      45. Are you more interseted in:
      %br
      = f.radio_button 'SN-14', '1'
      production
      %br
      = f.radio_button 'SN-14', '-1'
      research
      %br

      46. Are you more comfortable when you are:
      %br
      = f.radio_button 'TF-13', '1'
      objective
      %br
      = f.radio_button 'TF-13', '-1'
      personal
      %br

      47. Do you value in yourself more that you are:
      %br
      = f.radio_button 'TF-14', '1'
      unwavering
      %br
      = f.radio_button 'TF-14', '-1'
      devoted
      %br

      48. Are you more comfortable with:
      %br
      = f.radio_button 'JP-13', '1'
      final statements
      %br
      = f.radio_button 'JP-13', '-1'
      tentative statements
      %br

      49. Are you more comfortable:
      %br
      = f.radio_button 'JP-14', '1'
      after a decision
      %br
      = f.radio_button 'JP-14', '-1'
      before a decision
      %br

      50. Do you:
      %br
      = f.radio_button 'EI-8', '1'
      speak easily and at length with strangers
      %br
      = f.radio_button 'EI-8', '-1'
      find little to say to strangers
      %br

      51. Are you usually more interested in the:
      %br
      = f.radio_button 'SN-15', '1'
      particular instance
      %br
      = f.radio_button 'SN-15', '-1'
      general case
      %br

      52. Do you feel:
      %br
      = f.radio_button 'SN-16', '1'
      more practical than ingenious
      %br
      = f.radio_button 'SN-16', '-1'
      more ingenious than practical
      %br

      53. Are you typically more a person of:
      %br
      = f.radio_button 'TF-15', '1'
      clear reason
      %br
      = f.radio_button 'TF-15', '-1'
      strong feeling
      %br

      54. Are you inclined more to be:
      %br
      = f.radio_button 'TF-16', '1'
      fair-minded
      %br
      = f.radio_button 'TF-16', '-1'
      sympathetic
      %br

      55. Is it preferable mostly to:
      %br
      = f.radio_button 'JP-15', '1'
      make sure things are arranged
      %br
      = f.radio_button 'JP-15', '-1'
      just let things happen
      %br

      56. Is it you way more to:
      %br
      = f.radio_button 'JP-16', '1'
      get things settled
      %br
      = f.radio_button 'JP-16', '-1'
      put off settlement
      %br

      57. When the phone rings do you:
      %br
      = f.radio_button 'EI-9', '1'
      hasten to get it first
      %br
      = f.radio_button 'EI-9', '-1'
      hope someone else will answer
      %br

      58. Do you prize more in yourself a:
      %br
      = f.radio_button 'SN-17', '1'
      good sense of reality
      %br
      = f.radio_button 'SN-17', '-1'
      good imagination
      %br

      59. Are you more drawn to:
      %br
      = f.radio_button 'SN-18', '1'
      fundamentals
      %br
      = f.radio_button 'SN-18', '-1'
      overtones
      %br

      60. In judging are you usually more:
      %br
      = f.radio_button 'TF-17', '1'
      neutral
      %br
      = f.radio_button 'TF-17', '-1'
      charitable
      %br

      61. Do you consider yourself more:
      %br
      = f.radio_button 'TF-18', '1'
      clear headed
      %br
      = f.radio_button 'TF-18', '-1'
      good willed
      %br

      62. Are you more prone to:
      %br
      = f.radio_button 'JP-17', '1'
      schedule events
      %br
      = f.radio_button 'JP-17', '-1'
      take things as they come
      %br

      63. Are you the person that is more:
      %br
      = f.radio_button 'JP-18', '1'
      routinized
      %br
      = f.radio_button 'JP-18', '-1'
      whimsical
      %br

      64. Are you more inclined to be:
      %br
      = f.radio_button 'EI-10', '1'
      easy to approach
      %br
      = f.radio_button 'EI-10', '-1'
      somewhat reserved
      %br

      65. Do you have more fun with:
      %br
      = f.radio_button 'SN-19', '1'
      hand-on experience
      %br
      = f.radio_button 'SN-19', '-1'
      blue-sky fantasy
      %br

      66. In writings do you prefer:
      %br
      = f.radio_button 'SN-20', '1'
      the more literal
      %br
      = f.radio_button 'SN-20', '-1'
      the more figurative
      %br

      67. Are you usually more:
      %br
      = f.radio_button 'TF-19', '1'
      unbiased
      %br
      = f.radio_button 'TF-19', '-1'
      compassionate
      %br

      68. Are you typically more:
      %br
      = f.radio_button 'TF-20', '1'
      just than lenient
      %br
      = f.radio_button 'TF-20', '-1'
      lenient than just
      %br

      69. Is it more like you to:
      %br
      = f.radio_button 'JP-19', '1'
      make snap judgments
      %br
      = f.radio_button 'JP-19', '-1'
      delay making judgments
      %br

      70. Do you tend to be more:
      %br
      = f.radio_button 'JP-20', '1'
      deliberate than spontaneous
      %br
      = f.radio_button 'JP-20', '-1'
      spontaneous than deliberate
      %br
      %br
      %input.button{:name => "commit", :type => "submit", :value => "Submit"}/
