#wrap
= render 'static_pages/navigation.html.haml'

.container
  - flash.each do |key,value|
    %div{:class => "alert alert-#{key}"}= value  
  .marketing
    %h2{:style=>'text-align: center'} Let's learn more about your personality!
    %h3{:style=>'text-align:center'}
      Welcome #{@user.first_name}! Your personality type is: #{@user.entered_type}
    %br
    %div.row
      %div.span8.offset2
        #{@body}

= render 'static_pages/footer.html.haml'