#wrap
  = render("static_pages/navigation.html.haml")
  .container-fluid
    - flash.each do |key,value|
      %div{:class => "alert alert-#{key}"}= value  
  .row-fluid.staticPage
    %div{:class=>@user.fbid ? "span8 offset1" : "span8 offset2"}
      -#.span8.offset2
      .page-header
        %center
          %h1.text-blue1 Welcome #{@user.first_name.titleize}! 
          %h2.text-blue2 Your personality type is: #{@user.survey.personality_type}
          %h3.text-blue3 Let's learn more about your personality!
      
      .span10.offset1 
        .page-header  
          %justify
            %p #{@body}
            %br

      .span10.offset1.chart_survey
        .page-header 
          %center#chart
            = render_chart(@survey_chart, 'chart')
            %br
      .span10.offset1
        .page-header 
          %center 
            %iframe{:width => "560", :height => "315",:frameborder => "0", :src =>"http://www.youtube.com/embed/#{@video_url}",:allowFullScreen => ""}
            %br
    - if @user.fbid
      .fbbox
        %table.table.table-hover
          - @leadU_friends.each do |name, photo|
            %tr.gray3
              %td                
                %img{:src=>photo, :class=>"clear"}
              %td.text-blue1.clear
                #{name}
                uses LeadU
          - @non_leadU_friends.each do |name, photo|
            %tr.gray3
              %td
                %img{:src=>photo, :class=>"clear"}
              %td.text-blue1.clear
                #{name}
              %td
                %button.btn.btn-mini.btn-success Invite
             
#push

= render "static_pages/footer.html.haml"